{% extends "base.html" %}

{% block title %}Checking In Players | Resurgam{% endblock %}

{% block nav %}
    <li class="active"><a href="#">Player Melville Check In</a></li>
{% endblock %}

{% block ui %}
  <li><a href="/accounts/logout/">Logout</a></li>
{% endblock %}
  	          
{% block alerts %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">


<table class="table table-striped">
  <tbody>
    {% for player in player_list %}
    <tr id="{{player.id}}">
      <td><h2>{{player.name}}</h2></td>
      <td><input player_id="{{player.id}}" type="submit" value="Check in" class="btn btn-primary btn-large" /></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>


{% endblock %}
    
{% block pageScripts %}
<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    var pusher = new Pusher('{{PUSHER_KEY}}');
      var channel = pusher.subscribe('boarding');
      channel.bind('checked_in', function(data) {
        $("#"+ data.player_id).remove();

      });


    $( ".btn" ).click(function() {
      //alert(this.getAttribute( "player_id" ));
      $.post('/boarding/check_in/', {"player_id":this.getAttribute( "player_id")});
    });
    </script>
{% endblock %}