{% extends "base.html" %}

{% block title %}{{start_time}} | Resurgam{% endblock %}

{% block nav %}
    <li class="active"><a href="#">{{start_time}}</a></li>
{% endblock %}

{% block ui %}
<li><a href="/shipmates/">Back to Start Times</a></li>
<li><a href="/accounts/logout/">Logout</a></li>
{% endblock %}
  	          
{% block alerts %}
{% endblock %}

{% block content %}

<div class="row">
  <div id="the_content" class="span12">
{% if holder_list %}

<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Barcode</td>
      </tr>
    </thead>
    {% for holder in holder_list %}
    <tr id="{{holder.id}}">
      <td><a href="/shipmates/holder/{{holder.id}}/">{{holder.name}}</a></td>
      <td>{{holder.quantity}}</td>
      <td>{{holder.barcode}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  {% if next_id == 6 %}
  <h1>All Finished!!!</h1>
  {% else %}
  <h1>All done for this time slot!</h1>

  <a href="/shipmates/time/{{next_id}}/" class="btn btn-primary btn-large">Next one</a>
  {% endif %}
{% endif %}
</div>
</div>

{% endblock %}
    
{% block pageScripts %}
    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    var pusher = new Pusher('{{PUSHER_KEY}}');
      var channel = pusher.subscribe('arrivals');
      channel.bind('checked_in', function(data) {
        $("#"+ data.holder_id).remove();
        if($('table tr').length == 1){
          $("#the_content").html("{% if next_id == 6 %}<h1>All Finished!!!</h1>{% else %}<h1>All done for this time slot!</h1><a href=\"/shipmates/time/{{next_id}}/\" class=\"btn btn-primary btn-large\">Next one</a>{% endif %}")
        }

      });
      </script>
{% endblock %}