{% extends "base.html" %}

{% block title %}{{start_time}} | Resurgam{% endblock %}

{% block nav %}
    <li class="active"><a href="#">{{start_time}}</a></li>
{% endblock %}

{% block ui %}
<li><a href="/accounts/logout/">Logout</a></li>
{% endblock %}
  	          
{% block alerts %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
{% if holder_list %}

<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Barcode</td>
        <td>Order Type</td>
      </tr>
    </thead>
    {% for holder in holder_list %}
    <tr>
      <td><a href="/shipmates/holder/{{holder.id}}/">{{holder.name}}</a></td>
      <td>{{holder.quantity}}</td>
      <td>{{holder.barcode}}</td>
      <td>{{holder.order_type}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  {% if next_id == 6 %}
  <h1>All Finished!!!</h1>
  <h1>Proceed to RWY</h1>
  {% else %}
  <h1>All done for this time slot!</h1>

  <a href="/shipmates/time/{{next_id}}/" class="btn btn-primary btn-large">Next one</a>
  {% endif %}
{% endif %}
</div>
</div>

{% endblock %}
    
{% block pageScripts %}
    <script type="text/javascript">
    </script>
{% endblock %}