{% extends "base.html" %}

{% block title %}Start Times | Resurgam{% endblock %}

{% block nav %}
    <li class="active"><a href="#">Start Times</a></li>
{% endblock %}

{% block ui %}
  <li><a href="/accounts/logout/">Logout</a></li>
{% endblock %}
  	          
{% block alerts %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
<table class="table table-striped">
  <tbody>
    {% for type in types_list %}
    <tr>
      <td><a href="/shipmates/time/{{type.id}}/">{{type.name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}
    
{% block pageScripts %}
    <script type="text/javascript">
    </script>
{% endblock %}